Db.Hackathon.Core/obj/Debug/
Db.Hackathon.Core/obj/Container/ContainerRunContext.cache
Db.Hackathon.Core/obj/Container/ContainerId.cache
Db.Hackathon.Core/obj/
Db.Hackathon.Core/bin/
Db.Hackathon.Core/.vs/
